/* ---------- Fonts ----------- */
/* ---------- FEEL FREE TO CHANGE STUFF----------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* ---------- General Styling ----------- */
html{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: lightgrey;
}

h2{
    text-align: center;
}

/* ---------- Header Styling ----------- */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #6cbeb5;
    border-bottom: 1px solid black;
    padding: 0.5em;
}


.homeLink{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #fff8f0;
    transition: 0.3s;
}

.homeLink:hover{
    color: #594b86;
}

.menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.menu li{
    padding: 1em;
}
.menu a{
    text-decoration: none;
    color: #fff8f0;
    transition: 0.3s;
}

.menu a:hover{
    color: #594b86;
}

/* ---------- Content Styling ----------- */
main{
    padding: 3em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: #fff8f0;
}


/* Main Form Styling 8*/
form{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    background-color: #fcc224;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    padding: 1em 3em 5em 3em;
}


.initialForm h2{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

.formNav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 0 2em 0;
}


.formNav__link{
    list-style: none;
    color: #ffffff;
    transition: 0.2s;
    font-size: 20px;;
}

.formNav__link:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #594b86;
}

.tripFrom{
    display: none;
    width: 100%;
    text-align: center;
}

.tripFrom__input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
}

.tripFrom__input_btn{
    font-family: 'Poppins', sans-serif;
    background-color: #fff8f0;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    transition: 0.2s;
    position: absolute;
}

.tripFrom__input_btn:hover{
    background-color: #6cbeb5;
    border: 1px solid grey;
}

label{
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
    vertical-align: top;
}

input{
    display: inline-block;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}

/* Deals Section Styling */
.deals{
    padding: 2em 0;
}

.deals h2{
    border-bottom: 1px solid lightgrey;;
}

.deals__popular h3, .deals__budget h3{
    width: 100%;
}

.deals__popular, .deals__budget{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 0 3em 0;
    justify-content: space-evenly;
}

.deals__popular_opt, .deals__budget_opt{
    padding: 2em;
    margin-bottom: 1em;
    border: 1px solid black;
    background-color: #ff8811;
}

.deals__popular_opt a, .deals__budget_opt a{
    color: white;
    text-decoration: none;
    transition: 0.3s;;
}

.deals__popular_opt a:hover, .deals__budget_opt a:hover{
    color: dimgray;
}

/* ---------- Footer Styling ----------- */

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #6cbeb5;
    padding: 1em;
}

footer p{
    margin-top: 0;
}

footer .menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: center;
}

footer .menu li{
    padding: 0 1em;
}

footer .menu a{
    text-decoration: none;
    color: #fff8f0;
    transition: 0.3s;
}

footer .menu a:hover{
    color: #594b86;
}